<h1>Welcome to DreamReaper, where all your fantasies are stored</h1>
<h2>Please Login or Create an account</h2>
<a href="/users/login"><button type = "button" id="start">Login</button></a>
<a href="/users"><button type = "button" id="start">Create An Account</button></a>